@import 'reset';
body {
    background: $background;
    height: 100vh;
    overflow-x: hidden;
    padding: 0 24px 0 24px;
}

main {
    display: flex;
    justify-content: center;
}

.card-component {
    max-width: 730px;

    .image-box {
        img {
            width: 100%;
        }
    }
    
    
}




